@import url("https://fonts.googleapis.com/css2?family=League+Spartan&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.camasii,
.jeanss,
.gecii,
.tricourii,
.costumee,
.gentii,
.topuri,
.rochii,
.pantofii,
.fustei {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}

/* Header-ul */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #e3e6f3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);

  /* Acum facem navbar-ul sticky */
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

/* Navbar */
#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10%;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}
/* Facem toate elementele din navbar sa se faca verzi cand ducem cursorul peste ele */
#navbar li:hover {
  color: #088178;
}

#navbar li a:hover {
  color: #088178;
}

/* Hero section(de pe home page) */
#hero {
  background-image: url("img/model1.jpg");
  height: 90vh;
  width: 100%;
  background-position: top 5% right 20%;
  background-size: cover;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 0.7%;
}

#hero h4 {
  padding-bottom: 15px;
}

#hero h1 {
  color: #088178;
}
/* Butonul de pe herosection, care duce catre magazin */
#buton1 {
  padding: 10px 20px;
  background-color: #088178;
  color: #fff;
  border: none;
  border-radius: 5px;
}

#buton1:hover {
  color: #465b52;
  cursor: pointer;
}

#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 2%;
}

#feature .fe-box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 5px 0;
}

#feature .fe-box:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .fe-box h6 {
  display: block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #088178;
  background-color: #fddde4;
  margin-top: 3%;
}

#feature .fe-box:nth-child(2) h6 {
  background-color: #cdebbc;
}

#feature .fe-box:nth-child(3) h6 {
  background-color: #d1e8f2;
}

#feature .fe-box:nth-child(4) h6 {
  background-color: #cdd4f8;
}

#feature .fe-box:nth-child(5) h6 {
  background-color: #f6dbf6;
}

#feature .fe-box:nth-child(6) h6 {
  background-color: #fff2e5;
}

#camasi,
#jeans,
#geci,
#tricouri,
#costume,
#genti,
#topuri,
#rochi,
#pantofi,
#fuste {
  text-align: center;
}

#camasi .pro-container,
#jeans .pro-container,
#geci .pro-container,
#tricouri .pro-container,
#costume .pro-container,
#genti .pro-container,
#topuri .pro-container,
#rochi .pro-container,
#pantofi .pro-container,
#fuste .pro-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 20px;
  flex-wrap: wrap;
}

#camasi .pro,
#jeans .pro,
#geci .pro,
#tricouri .pro,
#costume .pro,
#genti .pro,
#topuri .pro,
#rochi .pro,
#pantofi .pro,
#fuste .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}

#camasi .pro:hover,
#jeans .pro:hover,
#geci .pro:hover,
#tricouri .pro:hover,
#costume .pro:hover,
#genti .pro:hover,
#topuri .pro:hover,
#rochi .pro:hover,
#pantofi .pro:hover,
#fuste .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#imgcamasa1,
#imgcamasa2,
#imgcamasa3,
#imgcamasa4,
#imgcamasa5,
#imgcamasa6 {
  width: 30%;
  height: 30%;
}

#imgjeans1,
#imgjeans2,
#imgjeans3,
#imgjeans4,
#imgjeans5,
#imgjeans6 {
  width: 30%;
  height: 30%;
}

#imggeaca1,
#imggeaca2,
#imggeaca3,
#imggeaca4,
#imggeaca5,
#imggeaca6 {
  width: 30%;
  height: 30%;
}

#imgtricou1,
#imgtricou2,
#imgtricou3,
#imgtricou4,
#imgtricou5,
#imgtricou6 {
  width: 30%;
  height: 30%;
}

#imgcostum1,
#imgcostum2,
#imgcostum3,
#imgcostum4,
#imgcostum5,
#imgcostum6 {
  width: 30%;
  height: 30%;
}

/* pentru shop.html */
.magazin1 {
  text-align: center;
  margin-top: 4%;
}

/* pentru profile.html */
.profile-card {
  width: 300px;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 0 auto;
  margin-top: 50px;
}

.profile-card h2 {
  margin: 0;
  padding: 0;
}

.profile-card p {
  margin-top: 5px;
  margin-bottom: 20px;
}

.profile-card label {
  display: block;
  margin-bottom: 5px;
}

.profile-card input {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 15px;
}

/* Styles for last orders section */
.last-commands {
  margin-top: 30px;
}

.last-commands h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

.last-commands ul {
  margin: 0;
  padding: 0;
}

.last-commands li {
  margin-bottom: 5px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#imggeanta1,
#imggeanta2,
#imggeanta3 {
  width: 30%;
  height: 30%;
}

#imgtop1,
#imgtop2,
#imgtop3,
#imgtop4,
#imgtop5,
#imgtop6 {
  width: 30%;
  height: 30%;
}

#imgrochie1,
#imgrochie2,
#imgrochie3,
#imgrochie4,
#imgrochie5 {
  width: 30%;
  height: 30%;
}

#imgpantofi1,
#imgpantofi2,
#imgpantofi3,
#imgpantofi4,
#imgpantofi5 {
  width: 30%;
  height: 30%;
}

#imgfusta1,
#imgfusta2 {
  width: 30%;
  height: 30%;
}

.subtitlu-shop {
  margin-left: 10%;
  margin-bottom: 0;
  padding-bottom: 0;
  line-height: 0;
}

