@model IEnumerable<EShop.Models.Product>

<h1 class="magazin1">Magazin</h1>

@foreach (var item in ViewBag.Products)
{
    <section id="product1" class="section-p1">
        <div class="pro-container">
            <div class="pro">
                <img src="~/img/product1.jpg" alt="Product 1" id="imgproduct1">
                <div class="des">
                    <span> Categorie_hardcodata </span>
                    <h5> @item.Name </h5>
                    <h4 style="margin-top: 1%;"> @item.Price </h4>
                </div>
            </div>
        </div>
        <br />
        <a href="/Products/Show/@item.Id">Afisare produs </a>
        <br />
        <a href="/Products/Edit/@item.Id">Editare Produs</a>
        <hr />
    </section>
}
<a href="/Products/New">Adaugare produs</a>

