@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Afisare produs</h2>
<br />
<p>@ViewBag.Product.Name</p>
<p>@ViewBag.Product.Description</p>
<p>@ViewBag.Product.Price</p>
<br />
<a href="/Products/Index">Afisare produse</a>
